<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AssignmentMapper">
    
    <resultMap type="Assignment" id="AssignmentResult">
        <result property="id"    column="id"    />
        <result property="assignmentName"    column="assignment_name"    />
        <result property="projectId"    column="project_id"    />
        <result property="modelId"    column="model_id"    />
        <result property="pretrainMode"    column="preTrain_mode"    />
        <result property="epoch"    column="epoch"    />
        <result property="batchSize"    column="batch_size"    />
        <result property="imgSize"    column="img_size"    />
    </resultMap>

    <sql id="selectAssignmentVo">
        select id, assignment_name, project_id, model_id, preTrain_mode, epoch, batch_size, img_size from assignment
    </sql>

    <select id="selectAssignmentList" parameterType="Assignment" resultMap="AssignmentResult">
        <include refid="selectAssignmentVo"/>
        <where>  
            <if test="assignmentName != null  and assignmentName != ''"> and assignment_name like concat('%', #{assignmentName}, '%')</if>
            <if test="projectId != null  and projectId != ''"> and project_id = #{projectId}</if>
            <if test="modelId != null  and modelId != ''"> and model_id = #{modelId}</if>
            <if test="pretrainMode != null  and pretrainMode != ''"> and preTrain_mode = #{pretrainMode}</if>
            <if test="epoch != null  and epoch != ''"> and epoch = #{epoch}</if>
            <if test="batchSize != null  and batchSize != ''"> and batch_size = #{batchSize}</if>
            <if test="imgSize != null  and imgSize != ''"> and img_size = #{imgSize}</if>
        </where>
    </select>
    
    <select id="selectAssignmentById" parameterType="String" resultMap="AssignmentResult">
        <include refid="selectAssignmentVo"/>
        where id = #{id}
    </select>

    <insert id="insertAssignment" parameterType="Assignment" useGeneratedKeys="true" keyProperty="id">
        insert into assignment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="assignmentName != null and assignmentName != ''">assignment_name,</if>
            <if test="projectId != null and projectId != ''">project_id,</if>
            <if test="modelId != null and modelId != ''">model_id,</if>
            <if test="pretrainMode != null and pretrainMode != ''">preTrain_mode,</if>
            <if test="epoch != null and epoch != ''">epoch,</if>
            <if test="batchSize != null and batchSize != ''">batch_size,</if>
            <if test="imgSize != null and imgSize != ''">img_size,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="assignmentName != null and assignmentName != ''">#{assignmentName},</if>
            <if test="projectId != null and projectId != ''">#{projectId},</if>
            <if test="modelId != null and modelId != ''">#{modelId},</if>
            <if test="pretrainMode != null and pretrainMode != ''">#{pretrainMode},</if>
            <if test="epoch != null and epoch != ''">#{epoch},</if>
            <if test="batchSize != null and batchSize != ''">#{batchSize},</if>
            <if test="imgSize != null and imgSize != ''">#{imgSize},</if>
         </trim>
    </insert>

    <update id="updateAssignment" parameterType="Assignment">
        update assignment
        <trim prefix="SET" suffixOverrides=",">
            <if test="assignmentName != null and assignmentName != ''">assignment_name = #{assignmentName},</if>
            <if test="projectId != null and projectId != ''">project_id = #{projectId},</if>
            <if test="modelId != null and modelId != ''">model_id = #{modelId},</if>
            <if test="pretrainMode != null and pretrainMode != ''">preTrain_mode = #{pretrainMode},</if>
            <if test="epoch != null and epoch != ''">epoch = #{epoch},</if>
            <if test="batchSize != null and batchSize != ''">batch_size = #{batchSize},</if>
            <if test="imgSize != null and imgSize != ''">img_size = #{imgSize},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssignmentById" parameterType="String">
        delete from assignment where id = #{id}
    </delete>

    <delete id="deleteAssignmentByIds" parameterType="String">
        delete from assignment where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>