<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.AssignmentMapper">

    <resultMap type="Assignment" id="AssignmentResult">
        <result property="id"    column="id"    />
        <result property="assignmentName"    column="assignment_name"    />
        <result property="projectId"    column="project_id"    />
        <result property="modelId"    column="model_id"    />
        <result property="pretrainMode"    column="preTrain_mode"    />
        <result property="epoch"    column="epoch"    />
        <result property="batchSize"    column="batch_size"    />
        <result property="imgSize"    column="img_size"    />
        <result property="description"    column="description"    />
        <result property="state"    column="state"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectAssignmentVo">
        select id, assignment_name, project_id, model_id, preTrain_mode, epoch, batch_size, img_size, description, state, create_time, create_by, update_time, update_by from assignment
    </sql>

    <select id="getStateCounts" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM assignment WHERE state = 0
        UNION ALL
        SELECT COUNT(*) FROM assignment WHERE state = 1
        UNION ALL
        SELECT COUNT(*) FROM assignment WHERE state = 2
    </select>


    <select id="selectAssignmentList" parameterType="Assignment" resultMap="AssignmentResult">
        <include refid="selectAssignmentVo"/>
        <where>
            <if test="assignmentName != null  and assignmentName != ''"> and assignment_name like concat('%', #{assignmentName}, '%')</if>
            <if test="projectId != null"> and project_id = #{projectId}</if>
            <if test="modelId != null"> and model_id = #{modelId}</if>
            <if test="pretrainMode != null  and pretrainMode != ''"> and preTrain_mode = #{pretrainMode}</if>
            <if test="epoch != null  and epoch != ''"> and epoch = #{epoch}</if>
            <if test="batchSize != null  and batchSize != ''"> and batch_size = #{batchSize}</if>
            <if test="imgSize != null  and imgSize != ''"> and img_size = #{imgSize}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="state != null "> and state = #{state}</if>
        </where>
    </select>

    <select id="selectAssignmentById" parameterType="Long" resultMap="AssignmentResult">
        <include refid="selectAssignmentVo"/>
        where id = #{id}
    </select>

    <insert id="insertAssignment" parameterType="Assignment" useGeneratedKeys="true" keyProperty="id">
        insert into assignment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="assignmentName != null and assignmentName != ''">assignment_name,</if>
            <if test="projectId != null">project_id,</if>
            <if test="modelId != null">model_id,</if>
            <if test="pretrainMode != null and pretrainMode != ''">preTrain_mode,</if>
            <if test="epoch != null and epoch != ''">epoch,</if>
            <if test="batchSize != null and batchSize != ''">batch_size,</if>
            <if test="imgSize != null and imgSize != ''">img_size,</if>
            <if test="description != null">description,</if>
            <if test="state != null">state,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="assignmentName != null and assignmentName != ''">#{assignmentName},</if>
            <if test="projectId != null">#{projectId},</if>
            <if test="modelId != null">#{modelId},</if>
            <if test="pretrainMode != null and pretrainMode != ''">#{pretrainMode},</if>
            <if test="epoch != null and epoch != ''">#{epoch},</if>
            <if test="batchSize != null and batchSize != ''">#{batchSize},</if>
            <if test="imgSize != null and imgSize != ''">#{imgSize},</if>
            <if test="description != null">#{description},</if>
            <if test="state != null">#{state},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateAssignment" parameterType="Assignment">
        update assignment
        <trim prefix="SET" suffixOverrides=",">
            <if test="assignmentName != null and assignmentName != ''">assignment_name = #{assignmentName},</if>
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="modelId != null">model_id = #{modelId},</if>
            <if test="pretrainMode != null and pretrainMode != ''">preTrain_mode = #{pretrainMode},</if>
            <if test="epoch != null and epoch != ''">epoch = #{epoch},</if>
            <if test="batchSize != null and batchSize != ''">batch_size = #{batchSize},</if>
            <if test="imgSize != null and imgSize != ''">img_size = #{imgSize},</if>
            <if test="description != null">description = #{description},</if>
            <if test="state != null">state = #{state},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssignmentById" parameterType="Long">
        delete from assignment where id = #{id}
    </delete>

    <delete id="deleteAssignmentByIds" parameterType="String">
        delete from assignment where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
