<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.TrainLogMapper">

    <resultMap type="TrainLog" id="TrainLogResult">
        <result property="id"    column="id"    />
        <result property="assignmentId"    column="assignment_id"    />
        <result property="assignmentTrainId"    column="assignment_train_id"    />
        <result property="content"    column="content"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectTrainLogVo">
        select id, assignment_id, assignment_train_id, content, create_time, create_by, update_time, update_by from train_log
    </sql>

    <select id="selectTrainLogList" parameterType="TrainLog" resultMap="TrainLogResult">
        <include refid="selectTrainLogVo"/>
        <where>
            <if test="assignmentId != null "> and assignment_id = #{assignmentId}</if>
            <if test="assignmentTrainId != null "> and assignment_train_id = #{assignmentTrainId}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>

    <select id="selectTrainLogById" parameterType="Long" resultMap="TrainLogResult">
        <include refid="selectTrainLogVo"/>
        where id = #{id}
    </select>

    <insert id="insertTrainLog" parameterType="TrainLog" useGeneratedKeys="true" keyProperty="id">
        insert into train_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="assignmentId != null">assignment_id,</if>
            <if test="assignmentTrainId != null">assignment_train_id,</if>
            <if test="content != null">content,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="assignmentId != null">#{assignmentId},</if>
            <if test="assignmentTrainId != null">#{assignmentTrainId},</if>
            <if test="content != null">#{content},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateTrainLog" parameterType="TrainLog">
        update train_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="assignmentId != null">assignment_id = #{assignmentId},</if>
            <if test="assignmentTrainId != null">assignment_train_id = #{assignmentTrainId},</if>
            <if test="content != null">content = #{content},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTrainLogById" parameterType="Long">
        delete from train_log where id = #{id}
    </delete>

    <delete id="deleteTrainLogByIds" parameterType="String">
        delete from train_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
